extends layout

block content
  .intro-overlay
    .pure-g.intro-row
      .pure-u-1.intro-column#intro-info-container
        p.intro-welcome-to Welcome to
        img.pure-img.intro-logo(src="/images/intro-logo.png")
        p.intro-instructions Witness people chatting in real time. 
          br
          | Discussion topics come from Google's US trends and change every 15 minutes.
          br
          | Feel free to comment on the suggested topic or 
          em
            span.intro-large anything 
          | else.
      .pure-u-1.intro-column#deactivate-overlay-container
        a
          i.fa.fa-arrow-down.fa-4x.deactivate-overlay

  .chat-topic-container
    img.pure-img.header-logo(src="/images/header-logo.png")
    span.topic-label Discuss: 
      span.chat-topic 
        em
          if (topic.url)
            a(href=topic.url, target="_blank") #{topic.title}
          else
            | #{topic.title}

  .visualizer
    span.message.enjoy Enjoy

  form.pure-form.main-chat-form(action="")
    input.message-prompt(type="text", placeholder="Comment (50 characters or less)", autocomplete="off")
    button.pure-button.pure-button-primary.send-btn(type="submit")
      i.fa.fa-send.fa-lg

  .about-container.intro-active
    .user-count-container
      span.user-count #{users}
      |  people in the conversation
    .about
      | A 
      a(href="http://socket.io") Socket.IO
      |  experiment by 
      a(href="http://twitter.com/Antrikshy") @Antrikshy
