extends layout

block content
  .chat-topic-container
    span.topic-label Discuss: 
      span.chat-topic 
        if (topic.url)
          a(href=topic.url, target="_blank") #{topic.title}
        else
          | #{topic.title}

  .visualizer

  form.pure-form.main-chat-form(action="")
    input.message-prompt(type="text", placeholder="Comment (50 characters or less)", autocomplete="off")
    button.pure-button.pure-button-primary.send-btn(type="submit")
      i.fa.fa-lg.fa-send

  .about-container
    .user-count-container
      span.user-count #{users}
      |  people in the conversation
    .about
      | A 
      em 
        a(href="http://socket.io") Socket.IO
      |  experiment by 
      em 
        a(href="http://twitter.com/Antrikshy") @Antrikshy
