doctype html
html
  head
    title Quibbler.co // live comments visualized

    link(href="http://fonts.googleapis.com/css?family=Noto+Sans", rel="stylesheet", type="text/css")
    
    link(rel="stylesheet", href="/stylesheets/normalize.css")
    link(rel="stylesheet", href="/stylesheets/pure-min.css")
    link(rel="stylesheet", href="/stylesheets/grids-responsive-min.css")

    link(rel="stylesheet", href="/stylesheets/font-awesome.min.css")
    link(rel="stylesheet", href="/stylesheets/animate.css")

    link(rel="stylesheet", href="/stylesheets/style.css")

    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/jquery-2.1.3.min.js")
    script(src="/javascripts/jquery.titlealert.min.js")
    script(src="/javascripts/client.js")

    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="Beautifully visualized, real-time, anonymous group chat where messages disappear forever")
    meta(name="keywords", content="chat, realtime, socket.io, node")

    meta(property="og:title", content="quibbler.co // live comments visualized")
    meta(property="og:site_name", content="Quibbler")
    meta(property="og:url", content="http://quibbler.co")
    meta(property="og:image", content="http://quibbler.co/images/dark-logo.png")
    meta(property="og:description", content="Beautifully visualized, real-time, anonymous group chat where messages disappear forever")

    include analytics
  body
    block content