*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  width: 100%;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

a {
  color: #00B7FF;
}

span.message {
  position: absolute;
}

.pure-form input[type=text],
.pure-button {
  border-radius: 0;
}

.chat-topic-container {
  height: 10vh;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  padding: 3vh 0;
  box-shadow: 0 0 2px 0 #000;
}

.visualizer {
  height: 78vh;
}

.message-prompt {
  height: 12vh;
  width: 60vw;
}

.send-btn {
  height: 12vh;
  width: 12vh;
}
