html {
  font-size: 100%;
}

body {
  max-width: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #08B2E3;
}

a {
  color: #044B7F;
}

span.message {
  font-size: 1.3rem;
  text-rendering: optimizeLegibility;
  position: absolute;
  color: #FFF;
}

span.message:hover {
  background-color: #044B7F;
}

span.chat-topic,
span.chat-topic a {
  color: #fff;
  text-decoration: underline; 
}

.pure-form input[type=text],
.pure-button {
  border-radius: 0;
}

.pure-form input[type=text]:focus {
  border-color: #ccc;
}

.chat-topic-container {
  height: 2.5rem;
  padding: 0 1rem;
  padding-top: 1rem;
  text-align: right;
  font-size: 1.2rem;
  box-shadow: 0 0 2px 0 #000;
  background-color: #044B7F;
  color: #FFF;
}

.visualizer {
  height: 80vh;
  cursor: default;
}

.main-chat-form {
  position: fixed;
  bottom: 0;
  left: -60vw;
}

.message-prompt {
  height: 3.2rem;
  width: 60vw;
  font-size: 1.3rem;
}

.send-btn {
  height: 3.2rem;
  width: 3.2rem;
  background-color: #044B7F;
  color: #FFF;
}

.send-btn:hover {
  background-color: #76083B;
}

.about-container {
  position: absolute;
  text-align: right;
  right: 0;
  bottom: 0;
  padding: 0.7rem 1rem;
  color: #FFF;
}

@media (max-width: 568px) {
  html {
    font-size: 80%;
  }

  .send-btn {
    visibility: hidden;
  }

  .message-prompt {
    width: 100%;
    position: fixed;
    left: 0;
  }

  .about-container {
    visibility: hidden;
  }

  .user-count-container {
    visibility: visible;
    position: absolute;
    bottom: 4rem;
    right: 1rem;
  }
}
